:root {
	--color-primary: #2d2d2d;
	--color-link: #44BBFF; /* rgba(68, 187, 255, 1) */
	--color-meta: #7a7a7a;
	--color-dot: #70d725;
	--color-light: #ddd;
	--color-lightest: #eee;
}

html {
	font-size: 17px;
	background-color: #fff;
	font-family: "proxima nova", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	max-width: 512px;
	line-height: 1.5;
	padding: 17px;
	color: var(--color-primary);
	background-color: #fff;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
	font-variant-numeric: proportional-nums;
	font-kerning: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
	max-width: 100%;
}

.main-img {
	max-height: 240px;
	margin-bottom: .5rem;
}

.sc {
	font-variant-caps: small-caps;
}

.scl {
	font-variant-caps: all-small-caps;
}

.meta {
	color: var(--color-meta);
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1,
.h1 {
	text-transform: uppercase;
	letter-spacing: 0.01em;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.35;
}

.heading {
	display: flex;
	align-items: center;
	margin-top: 0.67rem;
	margin-bottom: 1rem;
}

.heading h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.dot {
	font-size: 10px;
	padding: 0 0.75rem;
	margin: 2px 0 0 0;
}

.dot:before {
	content: "";
	display: inline-block;
	width: .8em;
	height: .8em;
	border-radius: 50%;
	background: var(--color-dot);
}

a {
	text-decoration: none;
	color: var(--color-primary);
	padding-bottom: 2px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 6px;
	background-image: linear-gradient(transparent, transparent 4px, var(--color-light) 4px, var(--color-light));
}

a.underline {
	background-image: linear-gradient(transparent, transparent 3px, var(--color-link) 3px, var(--color-link));
}

a:hover {
	background-image: linear-gradient(transparent, transparent 3px, var(--color-link) 3px, var(--color-link));
}

@media screen and (min-width: 720px) {
	html,
	body {
		min-height: 100vh;
	}

	body {
		max-width: 600px;
		line-height: 1.5;
		padding: 30px 0;
	}
}

@media screen and (min-width: 720px) and (min-height: 720px) {
	.center {
		display: flex;
		align-items: center;
		min-height: 100vh;
	}
}

@media screen and (min-width: 720px) and (min-height: 720px) {
	body {
		padding: 0;
	}
}
