:root {
	--primary-color: #000;
}

html {
	font-family: equity, serif;
}

body {
	margin: 0 auto;
	max-width: 330px;
	padding: 15px;
	color: var(--primary-color);
}

.center {
	display: block;
}

img {
	max-width: 100%;
	border-radius: 2px;
}

.main-img {
	width: 360px;
}

p {
	font-size: 1.075rem;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 650px) {
	html,
	body {
		height: 100%;
	}

	body {
		max-width: 600px;
		padding: 15px 0;
	}
}

@media screen and (min-width: 650px) and (min-height: 550px) {
	body {
		padding: 0;
	}

	.center {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
	}
}
