html {
	font-family: equity, serif;
}

body {
	margin: 0 auto;
	max-width: 330px;
	padding: 15px;
}

.center {
	display: block;
}

img {
	max-width: 100%;
	border-radius: 2px;
}

@media screen and (min-width: 650px) {
	html,
	body {
		height: 90%;
	}

	body {
		max-width: 600px;
		padding: 15px 0;
	}
}

@media screen and (min-width: 650px) and (min-height: 550px) {
	body {
		padding: 0;
	}
	.center {
		align-items: center;
		display: flex;
		height: 100%;
		width: 100%;
	}
}
