---
layout: default
---

{% include header.html %}
<section class="index">
    <div>
        <p>
            Hello, I enjoy making software.
        </p>
        <p>
            I'm on <a href="https://github.com/{{site.github_username}}">GitHub</a>. Contact me by email at <a href="mailto:{{site.email}}">nishanths@utexas.edu</a>.
        </p>
    </div>
    <h1 id="writing"><a href="/w/">Writing</a></h1>
    {% if !site.posts.empty %}
    <ul>
    {% for post in site.posts %}
        <li>
            <div>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {% comment %}
                <span class="date">{{post.date | date: "%Y-%m-%d"}}</span>
                {% endcomment %}
            </div>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <div>
        <emph><p>This section is empty.</p></emph>
    </div>
    {% endif %}
</section>
