---
layout: default
---

{% include header.html %}
<section class="index">
    <div>
        <p>
            <a class="underline-link" href="https://github.com/{{site.github_username}}">@{{site.github_username}}</a>
            <a href="mailto:{{site.email}}">{{site.email}}</a>
        </p>
    </div>
    <h1 id="writing"><a href="/w/">Writing</a></h1>
    <ul>
    {% for post in site.posts %}
        <li>
            <div>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {% comment %}
                <span class="date">{{post.date | date: "%Y-%m-%d"}}</span>
                {% endcomment %}
            </div>
        </li>
    {% endfor %}
    </ul>
</section>
