/* Code */
code,
pre {
  font-family: $font-family-mono;
}

code {
  padding: .25em .5em;
  font-size: 80%;
  color: #311;
  background-color: #f7f7f7;
  border-radius: 2px;
}

pre {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #f7f7f7;


  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  font-size: 85%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 2rem;
  border-radius: 1px;
}

.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: 1rem 1rem;
  margin: 1rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p {
    margin-top: 0;
  }
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

pre {
  tab-size: 4;
}
