@mixin antialias {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin hyphens($value) {
  -moz-hyphens: $value;
  -ms-hyphens: $value;
  -webkit-hyphens: $value;
  hyphens: $value;
}

@mixin underline($size, $color) {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent $size, $color $size, $color);
}

@mixin no-select {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
