article.post {
  header {
    h1.top-subtitle {
      font-size: 0.85rem;
    }

    h1.title,
    h1.top-subtitle {
      margin-top: 0;
      margin-bottom: 0;
    }

    .meta {
      margin-top: 0;
      margin-bottom: 3rem;
    }

    .meta * {
      color: $color-light;
      font-size: 0.85rem;
    }
  }

  .content a {
    @include underline(4px, $color-link);
  }
}
