article.post {
  header {
    h1.top-subtitle {
      font-size: 0.85rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    h1.title {
      margin-top: 0;
      margin-bottom: 0;
    }

    .meta {
      margin-top: 0;
      margin-bottom: 3rem;
      font-size: .9rem;
    }
  }

  .content a {
    @include underline(4px, $color-link);
  }
}
