---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <a href="/"><emph>Back to home</emph></a>
    <h1 class="top-subtitle">
        <a href="/w/">Writing</a>
        <a href="/"><div class="dot"></div></a>
    </h1>
    <h1 class="title" itemprop="name headline"><a href="">{{ page.title }}</a></h1>
    <div class="meta">
      {% if page.last_modified_at %}
        <span>Last update: </span>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" title="It was a beautiful day!">
            {{ page.date | date: "%-d %b %Y" }}
        </time>
      {% else %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" title="It was a beautiful day!">
            {{ page.date | date: "%-d %b %Y" }}
        </time>
      {% endif %}
    </div>
  </header>

  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      // https://disqus.com/admin/universalcode/#configuration-variables
      var disqus_config = function () {
        this.page.url = "{{ site.url | append: page.url }}"; // your page's canonical URL variable
        this.page.identifier = "{{ page.slug }}"; // your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://nishanths.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
  {% endif %}
</article>
