---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="header">
    <h1 class="top-subtitle">
        <a href="/writing/">Writing</a>
        <a href="/"><div class="dot"></div></a>
    </h1>
    <h1 class="title" itemprop="name headline"><a href="">{{ page.title }}</a></h1>
    <div class="meta">
        <span class="h1" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <a href="/"><span itemprop="name">{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span></a>
        </span>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" title="It was a beautiful day!">
            {{ page.date | date: "%-d %b %Y" }}
        </time>
    </div>
    {% comment %}
    <!-- TODO: -->
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    {% endcomment %}
  </header>

  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
